@font-face {
    font-family: 'Genshin Typeface';
    src: url('./assets/fonts/Genshin\ Typeface.ttf') format('truetype');
}

:root {
    --bg-color: #EFECE6;
    --accent-color: #DED6CF;
    --dark-blue: #233C58;
    --light-blue: #4C77B1;
    --navy-blue: #0B082C;
    --gold: #E3C384;

    --primary-font: 'Genshin Typeface', sans-serif;
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html {
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg-color);
}

html, body { 
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

 hr {
  border: 0;
  clear:both;
  display:block;
  width: 45%;               
  background-color:var(--accent-color);
  height: 0.7px;
  margin: 50px 0 50px 0;
 }

.flex {
    display: flex;
}

.hidden {
  display: none;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  margin: 0 50px;
}


/***** Modal Styles *****/
.small {
  font-size: 1rem;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 30px;
  border-radius: 20px;
  border: 5px solid var(--light-blue);
  width: 50%;
}

.modal-message {
  color: var(--light-blue);
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

.modal-message p:first-child {
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10%;
  right: 2.2%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.timeup-restart, .win-restart {
  background-color: var(--dark-blue);
  padding: 10px 25px;
  margin: 5px 0;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.m-20 {
  margin: 40px 0;
}
/***** End Modal Styles *****/

/***** Header START *****/

.heading {
  margin-top: 80px;
  text-align: center;
  text-shadow:
    -2.6px -2.6px 0 var(--accent-color),
     0   -2.6px 0 var(--accent-color),
     2.6px -2.6px 0 var(--accent-color),
     2.6px  0   0 var(--accent-color),
     2.6px  2.6px 0 var(--accent-color),
     0    2.6px 0 var(--accent-color),
    -2.6px  2.6px 0 var(--accent-color),
    -2.6px  0   0 var(--accent-color);
}

.title {
    font-size: 45px;
    color: var(--light-blue);
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
.instructions {
  font-size: 20px;
  color: var(--dark-blue);
}

/***** Header END *****/

/***** Matching Game Container START *****/

.memory-game {
  flex-wrap: wrap;
  width: 800px;
  height: 100%;
  padding: 5px 0;
  margin: auto;
}

.card-container-1 {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-rows: repeat(2, calc(11rem / 2 * 3));
  grid-template-columns: repeat(4, 10rem);
}

.card-container-2 {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-rows: repeat(3, calc(11rem / 2 * 3));
  grid-template-columns: repeat(4, 10rem);
}

.card-container-3 {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-rows: repeat(4, calc(11rem / 2 * 3));
  grid-template-columns: repeat(5, 10rem);
}

.memory-card {
  position: relative;
  width: 10rem;
  height: 17rem;
  /* margin: 5px; */
  border-radius: 10px;
  cursor: pointer;
  /* transform: scale(1); */
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-image {
  width: 10rem;
  height: 17rem;
}

.front-face,
.back-face {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.memory-card .front-face {
  justify-content: center;
  align-items: center;
  object-fit: fill;
  transform: scale(0.98,0.99);
}

.memory-card .back-face {
  background-image: url('./assets/images/tcg/cardback.png');
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.game-container .memory-game {
  display: none;
}

.game-container .memory-game.is-active {
  display: flex;
  align-content: center;
}


.timerEasy, .timerInt, .timerHard {
  font-size: 53px;
  color: var(--dark-blue);
  margin: 20px 0 50px 0;
}

.btn {
  width: 220px;
  background-color: #fff;
  padding: 8px 0;
  margin: 40px 0 60px;
  font-size: 25px;
  text-align: center;
  color: var(--dark-blue);
  border: 2px var(--dark-blue) solid;
  border-radius: 50px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.unclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}

.select-difficulty {
  font-size: 26px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  white-space: normal;
}

.select-difficulty h2 {
  display: flex;
  color: var(--navy-blue);
  margin-bottom: 30px;
  white-space: normal; 
  text-shadow:
    -2.6px -2.6px 0 var(--accent-color),
     0   -2.6px 0 var(--accent-color),
     2.6px -2.6px 0 var(--accent-color),
     2.6px  0   0 var(--accent-color),
     2.6px  2.6px 0 var(--accent-color),
     0    2.6px 0 var(--accent-color),
    -2.6px  2.6px 0 var(--accent-color),
    -2.6px  0   0 var(--accent-color);
}

.options {
  list-style-type: none;
  align-items: center;
}

.options span {
  font-size: 40px;
  padding: 0 40px;
}

.options li {
  cursor: pointer;
  text-shadow:
    -2.6px -2.6px 0 var(--accent-color),
     0   -2.6px 0 var(--accent-color),
     2.6px -2.6px 0 var(--accent-color),
     2.6px  0   0 var(--accent-color),
     2.6px  2.6px 0 var(--accent-color),
     0    2.6px 0 var(--accent-color),
    -2.6px  2.6px 0 var(--accent-color),
    -2.6px  0   0 var(--accent-color);
}

.options .level a[data-switcher] {
  color: var(--navy-blue);
}

.options .level.current-level a[data-switcher] {
  color: var(--light-blue);
}



/***** Matching Game Container END *****/

.footer {
  padding-bottom: 20px;
  font-size: 12px;
}


/********** Scrollbar *********/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--navy-blue);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue); 
}

/**** Media Queries ****/

/* @media only screen and (min-width: 320px) {

  .game-container .memory-game.is-active {
  align-content: stretch;
}

} */

/* Mobile */
@media only screen and (max-width: 480px) {
  .memory-card, .front-image {
    width: 5.1rem;
    height: 8.7rem;
  }

  .card-container-1, .card-container-2, .card-container-3 {
    grid-gap: 2.5px;
  }

  .card-container-1 {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }

  .card-container-2 {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .card-container-3 {
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto;
  }

  .select-difficulty h2 {
    font-size: 1.8rem;
  }

  .options li a, .options span {
    font-size: 1.2rem;
  }

  .options span {
    padding: 0 12px;
  }

  .game-container .memory-game.is-active {
  align-content: stretch;
}

}

/* Tablets */
@media only screen and (max-width: 600px) {
  .card-container-3 .memory-card, .card-container-3 .front-face .front-image {
    width: 5.1rem;
    height: 8.7rem;
  }

  .card-container-3 {
    grid-gap: 2.5px;
  }

  .card-container-3 {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}